@media screen and (max-width: 1024px){ /* ordinateurs */
    *{
        background: #E9EFEE;
        color: black;
        padding-top: 15px;
        padding-bottom: 15px; 
        padding-left:15px;
        padding-right: 15px;
    }

    body{
        background: linear-gradient(rgb(0, 178, 196), rgb(85, 226, 186));
        color: white;
    }
    
    .button {
        border: none;
        color: black;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    a{
    color: white;
    text-decoration: none;
    }

    img {
        width: 50px;
        height: 50px;
    }

}

@media screen and (min-width : 1280px ) { /* smarthones */ 
    *{
        color: black;
        padding-top: 15px;
        padding-bottom: 15px; 
        padding-left:15px;
        padding-right: 15px;
    }

    body{
        background: linear-gradient(rgb(0, 178, 196), rgb(85, 226, 186));
        color: white;
    }
    
    .button {
        border: none;
        color:black;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    a{
    color: white;
    text-decoration: none;
    }

    img {
        width: 50px;
        height: 50px;
    }

}